@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

section {
    background: #2F1893;
    ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.client {
    width: 100%;
    font-family: DM Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.startup {
    width: 702px;
    height: 56px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.img-box {
    width: 270px;
    height: 160px;
    top: 300px;
    left: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4E3AA3;
    border-radius: 10px;
}

.d-flex {
    display: flex;
}

.justify {
    justify-content: center;
    flex-wrap: wrap;
}

.direction {
    flex-direction: column;
}

.margin-top {
    margin-top: 14px;
}
.img-box:hover{
    background: purple;
    box-shadow: 0 0 20px blue;
    cursor: pointer;
}